<launch>
 
  <arg name="x_pos" default="3.5"/>
  <arg name="y_pos" default="0.5"/>
  <arg name="z_pos" default="1.2"/>
  <arg name="Y" default="1.5707"/>
  

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find lide)/urdf/lide.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model modelball -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R 0 -P 0 -Y $(arg Y)
     -param robot_description" />
</launch>
